<div class="small-10 columns">
	<h2>Distributors</h2>

	<p class="lead">You don't have any distributors! You should totally <a href="#" class="button small" data-reveal-id="addDistributor">add one</a></p>
</div>


<div id="addDistributor" class="reveal-modal" data-reveal>
	<h3>Add New Distributor</h3>
	<%= render partial: 'form' %>
	<a class="close-reveal-modal">&#215;</a>
</div>