<div class="small-10 columns">
	<h2>Customers</h2>

	<p class="lead">You don't have any customers! You should totally <a href="#" class="button small" data-reveal-id="addCustomer">add one</a></p>
</div>


<div id="addCustomer" class="reveal-modal" data-reveal>
	<h3>Add New Customer</h3>
	<%= render partial: 'form' %>
	<a class="close-reveal-modal">&#215;</a>
</div>